a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.3em 2em 1em;
  column-gap: 1.875em;
}
nav a{
  width: 70%;
}
nav a p {
  font-size: 1.5625em;
  padding: 0;
  margin: 0;
  font-family: var(--headings-font);
  color: #19183b;
  letter-spacing: 0.3em;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
  justify-content: space-around;
  /* border: 0.0625em dotted red; */
  list-style: none;
  font-weight: 400;
  column-gap: 2em;
}
ul li {
  color: var(--text-color);
  transition: all ease-in-out 0.3s;
}
main{
  display: flex;
  flex-direction: column;
  row-gap: 9em;
  align-self: center;
}
.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 9em;
}
.head {
  display: flex;
  font-family: var(--headings-font);
  font-size: 3em;
  color: var(--text-color);
  margin: 0;
}
.hero {
  display: flex;
  row-gap: 1em;
  flex-direction: column;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1{
    text-shadow: 5px 5px 4px rgb(0,0,0,0.3);
    font-size: 6em;
    letter-spacing: 0.3em;
    line-height: 0.9;
  }
  p {
    padding-top: 0.3em;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: var(--lower-text-color);
    letter-spacing: 0.1em;
    opacity: 0.9;
    line-height: 1.4;
  }
}
.button{
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--bg);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
button:hover{
  transform: translateY(-2px);
  background-color: transparent;
  color: var(--text-color);

}

@media (min-width: 1200px) {
  nav {
    a p {
      font-size: 2em;
    }
    ul {
      column-gap: 3.5em;
      li {
        font-size: 17px;
      }
      li:hover {
        transform: translateY(-2px);
        color: purple;
      }
    }
  }
}
