<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
=======
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  background-color: var(--bg);
>>>>>>> b3bb3c276b1b8fffee613d5b693dc54c5f98a013
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --headings-font: "Bungee", sans-serif;
<<<<<<< HEAD
  --text-color: #19183b;
  --lower-text-color: #708993;
  --nav-bg: #dce7e4;
  --bg: #e7f2ef;
  --darker-bg: #d1e3df;
  --darker-bg-2: #c5dbd7;
  --darker-bg-3: #bdd5d1;
  --darker-bg-4: #a1c2bd;

  --transition: all ease-in-out 0.3s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  height: 100%;
}
body {
  background-image: url("./assets/images/brain_md.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  background-attachment: fixed;
}
=======
  --text-color : #19183b;
  --lower-text-color : #708993;
  --bg : #e7f2ef;
}
body{
  margin: 0;
  width: 100%;
}
>>>>>>> b3bb3c276b1b8fffee613d5b693dc54c5f98a013
