

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-family-heading : var(--headings);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-text: var(--secondary-text);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-acceptive: var(--acceptive);
  --color-acceptive-2: var(--acceptive-2);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /* Smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* Font */
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --headings: "Bungee", sans-serif;

  /* Theme */
  --background: oklch(0.98 0.005 260);
  --foreground: oklch(0.12 0.01 260); /* body text, headings, icons */
  --radius: 0.5rem;

  --secondary-text: oklch(0.42 0.03 200);

  /* Buttons, links, highlights */
  --primary: #0083a3;
  --primary-foreground: rgb(246, 249, 252);

  /* Cards, chips, secondary buttons */
  --secondary: oklch(0.92 0.015 255);
  --secondary-foreground: oklch(0.18 0.02 260);

  --card: oklch(0.96 0.01 260);
  --card-foreground: oklch(0.14 0.015 260);

  --popover: oklch(0.96 0.01 260);
  --popover-foreground: oklch(0.14 0.015 260);

  --muted: oklch(0.93 0.01 260);
  --muted-foreground: oklch(0.46 0.02 260);

  --accent: oklch(0.93 0.01 260);
  --accent-foreground: oklch(0.14 0.015 260);

  --destructive: oklch(0.6 0.19 25);
  --acceptive: oklch(0.6 0.9 120);
  --acceptive-2: oklch(0.7 0.9 120);

  --border: oklch(0 0 0 / 10%);
  --input: oklch(0 0 0 / 12%);
  --ring: oklch(0.6 0.04 260);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  /* Sidebar */
  --sidebar: oklch(0.96 0.01 260);
  --sidebar-foreground: oklch(0.14 0.015 260);

  --sidebar-primary: oklch(0.55 0.14 215);
  --sidebar-primary-foreground: oklch(0.98 0.005 260);

  --sidebar-accent: oklch(0.93 0.01 260);
  --sidebar-accent-foreground: oklch(0.14 0.015 260);

  --sidebar-border: oklch(0 0 0 / 10%);
  --sidebar-ring: oklch(0.6 0.04 260);
}

.dark {
  --background: oklch(0.05 0.005 260);
  --foreground: oklch(0.95 0.005 260); /* body text, headings, icons*/

  --secondary-text: #a1c2bd;

  /* Buttons, links, highlights */
  --primary: oklch(0.78 0.12 215);
  --primary-foreground: oklch(0.1 0.02 260);

  /* Cards, chips, secondary buttons */
  --secondary: oklch(0.38 0.025 255);
  --secondary-foreground: oklch(0.92 0.01 260);

  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);

  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);

  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);

  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);

  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);

  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);

  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);

  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background  text-foreground min-h-screen;
  }
}
